@media (min-width: 1200px) {
    #pizza,
    section p {
        font-size: 1.3em;
        font-weight: 300;
    }
}

body {
    font-family: 'Shadows Into Light', cursive;
}

#sectionOne::before {
    display: block;
    content: '';
    height: 60px;
}

.map-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 10px;
    border: 5px solid gray;
    overflow: visible;
}


/* Loader */

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    /* display: none; */
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: rgb(233, 88, 26);
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}


/* Avatar */

.avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.avatar-nav {
    margin-right: 0.6rem;
    height: 1.8rem;
    width: 1.8rem;
}

#cardPoint {
    cursor: pointer;
}


/* Ratings */

#no_of_reviews {
    font-size: 0.85rem;
    color: grey;
    margin-left: 0.5rem;
}


/* Ratings */

.rating-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #fdcc0d;
}

.rating-outer::before {
    content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.rating-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    color: #dc3545;
}


/* Checkout Steps */

.checkout-progress div {
    box-sizing: border-box;
}

.checkout-progress {
    display: block;
    clear: both;
    margin: 20px auto;
    width: auto;
    font-family: sans-serif;
    overflow: auto;
}

.step {
    margin: 0;
    border: 0;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 5px 10px 5px 15px;
    color: grey;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
    float: left;
    height: auto;
}

.incomplete {
    background: #eeeeee;
}

.active-step {
    background: #fa9c23;
    color: #fff;
}

.triangle-active {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #fa9c23;
    border-bottom: 20px solid transparent;
    margin-left: -1px;
}

.triangle2-active {
    width: 0;
    float: left;
    border-top: 20px solid #fa9c23;
    border-left: 15px solid #fff;
    border-bottom: 20px solid #fa9c23;
    margin-right: -1px;
}

.triangle-incomplete {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #eeeeee;
    border-bottom: 20px solid transparent;
    margin-left: -1px;
}

.triangle2-incomplete {
    width: 0;
    float: left;
    border-top: 20px solid #eeeeee;
    border-left: 15px solid #fff;
    border-bottom: 20px solid #eeeeee;
    margin-right: -1px;
}


/* Login & Register */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-weight: 700;
}

.wrapper form {
    padding: 2.5rem 3rem;
}

.wrapper form .btn {
    background-color: #fa9c23;
    border-color: #fa9c23;
    color: white;
    margin-top: 2.5rem;
}

.wrapper form a {
    font-size: 0.9rem;
    color: grey;
}